In [96]:
import pandas as pd
import numpy as np

In [97]:
# 1. Some values in the the FlightNumber column are missing. These numbers are
# meant to increase by 10 with each row so 10055 and 10075 need to be put in
# place. Fill in these missing numbers and make the column an integer column
# (instead of a float column).

In [98]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [99]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [100]:
index = df[df['FlightNumber'].isnull()]['FlightNumber'].index

In [101]:
index

Int64Index([1, 3], dtype='int64')

In [102]:
df['FlightNumber'].fillna(method='ffill', inplace=True)

In [103]:
index=list(index)

In [104]:
for i in index:
    df.loc[(df.index == i), 'FlightNumber'] = df.loc[(df.index == i), 'FlightNumber'] + 10

In [105]:
df['FlightNumber'] = df['FlightNumber'].astype(int)

In [106]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [107]:
# 2. The From_To column would be better as two separate columns! Split each
# string on the underscore delimiter _ to give a new temporary DataFrame with
# the correct values. Assign the correct column names to this temporary
# DataFrame.

In [108]:
df1 = pd.DataFrame()

In [109]:
df1['From'] = df['From_To'].str.split('_').apply(lambda x: x[0])
df1['To'] = df['From_To'].str.split('_').apply(lambda x: x[1])

In [110]:
df1

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [111]:
# 3. Notice how the capitalisation of the city names is all mixed up in this
# temporary DataFrame. Standardise the strings so that only the first letter is
# uppercase (e.g. "londON" should become "London".)

In [112]:
df1['From'] = df1['From'].str.capitalize()
df1['To'] = df1['To'].str.capitalize()

In [113]:
df1

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [114]:
# 4. Delete the From_To column from df and attach the temporary DataFrame
# from the previous questions.

In [115]:
df.drop('From_To', axis=1, inplace=True)

In [116]:
df = pd.concat([df, df1], axis=1)

In [117]:
df

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

In [148]:
df1 = pd.DataFrame(df.RecentDelays.values.tolist())

In [149]:
df1

      0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN

In [155]:
col_names = []
for i in range(1, (df1.shape[1]+1)):
    col_names.append(('delay' + str('_') + str(i)))
df1.columns = col_names

In [ ]:
df = pd.concat([df, df1])

['delay_1', 'delay_2', 'delay_3']

In [141]:
df1 = pd.DataFrame()

In [144]:
for i, j in enumerate(df['RecentDelays']):
#     print(i)
#     print(j)
    for k in range(len(j)):
        temp = df1[i]
        temp[f'delay_{k}'] = j[k]
#         print(df['RecentDelays'][i][j-1])
#         print(k)
#         print(j[k])
#         pass
print(temp)

KeyError: 0

In [143]:
df1

Empty DataFrame
Columns: [(0, delay_0), (0, delay_1), (2, delay_0), (2, delay_1), (2, delay_2), (3, delay_0), (4, delay_0), (4, delay_1)]
Index: []